.med-details > * {
  --column-gap: 1rem;
  display: grid;
  grid-template-columns: [key] calc(50% - var(--column-gap) / 2) [value] auto;
  grid-template-rows: 0.35rem;
  column-gap: var(--column-gap);
  justify-items: start;
  align-items: start;
}

.med-details > * :nth-child(1) {
  grid-area: key;
}

.med-details > * :nth-child(2) {
  grid-area: value;
}
