.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ced4da;
}

.search-bar .search-form {
  padding: 0.5rem;
  width: 100%;
  max-width: 720px;
}

.search-bar .search-btn {
  background-color: white;
}