.med-picker {
  max-width: 180px;
  min-width: 180px;
  height: 280px;
  border-radius: 5px;
  padding: 1rem;
  overflow: auto;
}

.med-picker > * + * {
  margin-top: 0.5rem;
}

.med-picker .space-filler {
  height: 1rem;
}

.med-option {
  --column-gap: 0.1rem;
  display: grid;
  grid-template-columns: [box] 1rem [info] auto;
  column-gap: var(--column-gap);
  justify-items: start;
  align-items: start;
}

.med-option :nth-child(1) {
  grid-area: box;
}

.med-option :nth-child(2) {
  grid-area: info;
}

.med-option .info {
  font-size: 0.75rem;
}

.med-picker a {
  text-decoration: none;
}

.med-picker a {
  color: inherit;
  text-decoration: none;
}

.med-picker a:hover {
  color: inherit;
  opacity: 0.5;
  text-decoration: none;
}