.search-page .search-box > * + * {
  margin-top: 1.5rem;
}

.search-page {
  margin-left: 1rem;
  margin-right: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-page .search-box {
  width: 100%;
  max-width: 720px;
  text-align: center;
}
