.med-download-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
}

.med-download-button:hover {
  text-decoration: none;
}

.med-download {
  padding-top: 0 !important;
}