@page {
  margin: 1cm;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-size: 1rem;
}

h1 {
  margin-top: 0px;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

b {
  font-weight: bolder;
}

.med-info {
  width: 19cm;
}

.med-details {
  width: 100%;
}

.med-details > * :nth-child(1) {
  grid-area: key;
  width: 50%;
}

.med-details > * :nth-child(2) {
  grid-area: value;
  width: 50%;
}

.med-details > * {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: .35rem;
}