<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="med-info">
    <h1>{{ details["name"] }}</h1>
    <br/>
    <div class="med-details">
      <div><b>EAN</b><span>{{ details["ean"] }}</span></div>
      <div><b>Postać i dawka</b><span>{{ details["form"] }}, {{ details["dose"] }}</span></div>
      <div><b>Substancje czynne</b><span>{{ join_substances(details["active_substances"]) }}</span></div>
      <div><b>Zawartość opakowania</b><span>{{ details["box_contents"] }}</span></div>
    </div>
    <br/>
    <div class="med-details">
      <div><b>Poziom odpłatności</b><b>Cena</b></div>
      {% for level, price in details["price_by_payment_level"] %}
        <div><span>{{ level }}</span><span>{{ price }} zł</span></div>
      {% endfor %}
    </div>
  </div>
</body>
</html>